<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nous avons bien recu votre commande, <%= @user %></h1>
    <p>
      Vous trouverez dans notre boutique en ligne de nombreuses photos de chats et chatons à des prix très abordables!
    </p>
    <p>
      Nous sommes ravis de vous compter parmi nous.
    </p>
    <p>Merci de nous avoir rejoint. Bonne journée et à très vite !</p>
  </body>
</html>
