<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nous avons bien recu votre commande, <%= @user %></h1>
    <p>
      Vous trouverez ci-joint les produits que vous avez choisis.
    </p>
    <p>
      Le total de votre commande est: <%= @amount/100 %>
    </p>
    <p>Nous vous remercions pour votre confiance.</p>
    <p>A bientôt sur CAT SHOPPING.com</p>
  </body>
</html>
