<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue dans la communauté La Fonte des Graisses, <%= @user.firstname %></h1>
    <p>
      Vous venez de créer votre compte avec succès <%= @user.name %> !<br>
    </p>
    <p>
      Nous sommes ravis de vous compter parmi nous, ami(e) des chats!
    </p>
    <p>Merci de nous avoir rejoint. Bonne journée !</p>
  </body>
</html>
