<header id="header-area">
<!-- Start Header Area -->
<div class="header-area">
        <!-- Start Header Navigation Area -->
<div id="sticky-primary" class="header-navigation-area">
  <!-- Start Header Navigation -->
  <div class="header-navigation header-semi-transparent">
    <div class="container">
        <!-- Start Main Menu Wrapper -->
        <div class="main-menu-wrap">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-2">
            <!-- Start Logo -->
            <div class="logo sticky-logo">
              <a href="index.html"><img src="assets/img/logo-cat.png" alt="" /></a>
            </div>
            <!-- End Logo -->
          </div>
          <div class="hidden-xs hidden-sm col-md-8">
            <!-- Start Primary Menu -->
            <nav id="primary-menu">
              <ul class="main-menu">
                <li><a class="active" href="index.html">Accueil</a>
                  <!-- Start Dropdown -->
                  <ul class="dropdown">
                    <li class="has-child"><a class="active" href="#">Présentation</a>
                      <!-- Start Sub Dropdown -->
                      <ul class="sub-dropdown">
                        <li><a class="active" href="index.html">Qui sommes-nous ?</a></li>
                      </ul>
                    </li>
                    <li class="has-child"><a href="construction-home.html" target="_blank">Nos chats</a>
                      <!-- Start Sub Dropdown -->
                      <ul class="sub-dropdown">
                        <li><a href="construction-home.html" target="_blank">Voir les photos</a></li>
                      </ul>
                      <!-- End Sub Dropdown -->
                    </li>


                  </ul>
                  <!-- End Dropdown -->
                </li>
                <li><a href="#">Nos photos de chatons</a>
                </li>
                <li><a href="#">Qui sommes-nous ?</a>
                </li>


                <li class="mega-parent"><a href="contact.html">Nous contacter</a>
                  <!-- Start Mega Menu -->
                  <div class="mega-menu-area">
                     <!-- Start Single Mega Item -->
                    <ul class="single-mega-item width-one-half">
                      <li class="menu-title">Prise de contact rapide</li>
                      <li>
                        <!-- Start Form -->
                        <form action="#" class="mega-menu-form">
                          <div class="single-field">
                            <input type="text" name="name" placeholder="Votre nom">
                          </div><!-- End Single Field -->
                          <div class="single-field">
                            <input type="text" name="email" placeholder="Votre email">
                          </div><!-- End Single Field -->
                          <div class="single-field">
                            <input type="text" name="subject" placeholder="Sujet">
                          </div><!-- End Single Field -->
                          <div class="single-field">
                            <textarea name="message" rows="5" placeholder="Ecrire votre message..."></textarea>
                          </div><!-- End Single Field -->
                          <div class="single-field">
                            <a class="btn menu-btn">Envoyer le message</a>
                          </div>
                        </form>
                        <!-- End Form -->
                      </li>
                    </ul>
                    <!-- End Single Mega Item -->
                    <!-- Start Single Mega Item -->
                    <ul class="single-mega-item width-one-half">
                       <li class="menu-title">Nous connaître</li>
                       <li><p>Nous vendons de mangifiques photos de chats. Elles sont incroyablement réalistes et bien prises. Elles font pleurer petits et grands et sont emplies de douceur.</p></li>
                      <li><a href="contact.html"><i class="icofont icofont-email"></i> Contacter le site</a></li>
                      <li><a href="#"><i class="icofont icofont-penguin-linux"></i> Contacter le CEO</a></li>
                      <li><a href="#"><i class="icofont icofont-phone"></i> +123 4567 890</a></li>
                      <li><a href="#"><i class="icofont icofont-email"></i> thpcatshopping@gmail.com</a></li>
                    </ul>
                    <!-- End Single Mega Item -->
                  </div>
                  <!-- End Mega Menu -->
                </li>
              </ul>
            </nav>
            <!-- End Primary Menu -->
          </div>
          <div class="hidden-xs col-sm-4 col-sm-6 col-md-2">
            <!-- Start Search Box -->
            <div class="search-box-area trans-5">
              <form action="#" class="search-box">
                <input class="single-input" placeholder="Rechercher...." type="text">
                <button class="src-btn"><i class="fa fa-search"></i></button>
              </form>
            </div>
             <!-- End Search Box -->
          </div>
        </div>
      </div>
                    <!-- End Main Menu Wrapper -->




      <!-- Start Mobile Menu Area -->
      <div class="mobile-menu-area hidden-lg hidden-md">
        <div class="row">
          <div class="col-xs-12 active-mobile-menu">
            <nav id="mobile-menu">
              <ul>
                <li><a class="active" href="index.html">Accueil</a>
                  <!-- Start Dropdown -->
                  <ul>
                    <li><a href="index.html">Qui sommes-nous ?</a>
                    </li>
                    <li><a href="ecommerce-home.html" target="_blank">Nos photos de chats</a>

                    </li>
                  </ul>
                  <!-- End Dropdown -->
                </li>
                <li><a href="#">Pages</a>
                  <!-- Start Dropdown -->
                  <ul>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="coming-soon.html">Comming Soon</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                  <!-- End Dropdown -->
                </li>
                <li><a href="#">Features</a>
                  <!-- Start Dropdown -->
                  <ul>
                    <li><a href="#">Header</a>
                      <!-- Start Sub Dropdown -->
                      <ul>
                        <li><a href="index-header-default.html">Header Default</a></li>
                        <li><a href="index-header-flat.html">Header Flat</a></li>
                        <li><a href="index-header-flat-top-bar.html">Header Topbar</a></li>
                        <li><a href="index-header-flat-top-bar-clasic.html">Header Topbar Clasic</a></li>
                        <li><a href="index-header-flat-top-bar-language.html">Header Topbar With Language</a></li>
                        <li><a href="index-header-flat-top-bar-search.html">Header With Search Option</a></li>
                      </ul>
                      <!-- End Sub Dropdown -->
                    </li>
                    <li><a href="#">Page Header</a>
                      <!-- Start Sub Dropdown -->
                      <ul>
                        <li><a href="index-page-header-default.html">Page Header Default</a></li>
                        <li><a href="index-page-header-custom-background.html">Page Header width Custom Background</a></li>
                        <li><a href="index-page-header-light.html">Page Header Light</a></li>
                        <li><a href="index-page-header-text-left.html">Page Header Left Text</a></li>
                      </ul>
                      <!-- End Sub Dropdown -->
                    </li>
                    <li><a href="shortcode-post-video.html">Video Posts</a></li>
                    <li><a href="shortcode-post-audio.html">Audio Posts</a></li>
                    <li><a href="shortcode-post-gallery.html">Gallary Posts</a></li>
                    <li><a href="#">Footer</a>
                      <!-- Start Sub Dropdown -->
                      <ul>
                        <li><a href="index-footer-default.html">Footer Default</a></li>
                        <li><a href="index-footer-image-bg-parallax.html">Footer Parallax Image</a></li>
                        <li><a href="index-footer-light-dark.html">Footer Light Dark</a></li>
                        <li><a href="index-footer-secondary-color.html">Footer Secondary Color</a></li>
                        <li><a href="index-footer-center-logo.html">Footer Centered Logo</a></li>
                        <li><a href="index-footer-center-logo-image-bg.html">Footer Centered Logo with image background</a></li>
                      </ul>
                      <!-- End Sub Dropdown -->
                    </li>
                  </ul>
                  <!-- Start Dropdown -->
                </li>
                <li><a href="#">Blog</a>
                  <!-- Start Single Mega Item -->
                  <ul>
                    <li><a href="blog-v1-full-witdth.html">Blog-1 Fulwidth</a></li>
                    <li><a href="blog-v1-col-2-left-sidebar.html">Blog-1 Two Columns Left Sidebar</a></li>
                    <li><a href="blog-v1-col-2-right-sidebar.html">Blog-1 Two Columns Right Sidebar</a></li>
                    <li><a href="blog-v1-col-3.html">Blog-1 Three Columns</a></li>
                    <li><a href="blog-v2-full-width.html">Blog-2 Blog Fulwidth</a></li>
                    <li><a href="blog-v2-col-2-left-sidebar.html">Blog-2 Two Columns Left Sidebar</a></li>
                    <li><a href="blog-v2-col-2-right-sidebar.html">Blog-2 Two Columns Right Sidebar</a></li>
                    <li><a href="blog-v2-col-3.html">Blog-2 Three Columns</a></li>
                  </ul>
                  <!-- End Single Mega Item -->
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- End Mobile Menu Area -->
    </div>
  </div>
  <!-- End Header Navigation -->
</div>
<!-- End Header Navigation Area -->
</div>
<!-- End Header Area -->
</header>
<!-- End Header -->
