	  <div class="wrapper">
        <!-- Start Header -->

		<!-- Start Slider Area-->
		<section id="slider-container">
		    <div class="unify-owl-slider">
				<!-- Start Slingle Slide -->
				<div class="single-slide">
					<!-- Start Slider Image -->
					<a href="#"><img src="assets/img/slider/corporate/chat-1.jpg" alt="" /></a>
					<!-- End Slider Image -->
					<!-- Start Slider Content -->
          <div class="slider-content-area">
						<div class="slider-content dis-table">
							<div class="dis-table-cell text-center">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="slide-content">
												<h3 class="slider-title">Vous faîtes le bon choix</h3>
												<h1 class="slider-title">Ici, toutes les photos sont magnifiques</h1>
												<p class="slider-title">La qualité de nos photos est au coeur de notre réussite <br />et se veut être le bonheur pour nos clients. </p>
												<a href="#" class="btn btn-cor">Acheter <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Start Slider Content -->
				</div>
				<!-- End Slingle Slide -->
				<!-- Start Slingle Slide -->
				<div class="single-slide">
					<!-- Start Slider Image -->
					<a href="#"><img src="assets/img/slider/corporate/chat-2.jpg" alt="" /></a>
					<!-- End Slider Image -->
					<!-- Start Slider Content -->
          <div class="slider-content-area">
						<div class="slider-content dis-table">
							<div class="dis-table-cell text-center">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="slide-content">
												<h3 class="slider-title">Vous faîtes le bon choix</h3>
												<h1 class="slider-title">Ici, toutes les photos sont magnifiques</h1>
												<p class="slider-title">La qualité de nos photos est au coeur de notre réussite <br />et se veut être le bonheur pour nos clients. </p>
												<a href="#" class="btn btn-cor">Acheter <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Start Slider Content -->
				</div>
				<!-- End Slingle Slide -->
				<!-- Start Slingle Slide -->
				<div class="single-slide">
					<!-- Start Slider Image -->
					<a href="#"><img src="assets/img/slider/corporate/chat-3.jpg" alt="" /></a>
					<!-- End Slider Image -->
					<!-- Start Slider Content -->
          <div class="slider-content-area">
						<div class="slider-content dis-table">
							<div class="dis-table-cell text-center">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="slide-content">
												<h3 class="slider-title">Vous faîtes le bon choix</h3>
												<h1 class="slider-title">Ici, toutes les photos sont magnifiques</h1>
												<p class="slider-title">La qualité de nos photos est au coeur de notre réussite <br />et se veut être le bonheur pour nos clients. </p>
												<a href="#" class="btn btn-cor">Acheter <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Start Slider Content -->
				</div>
				<!-- End Slingle Slide -->
		    </div>
		</section>
		<!-- End Slider Area -->

		<!-- Start Service Area -->
		<section class="service-area pt-100 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<!-- Start Section Title -->
						<div class="section-title">
						   <h2>Ce que nous proposons</h2>
						   <p>Nous proposons de magnifiques photographies de chats et de chatons à vendre. Elles sont de qualité Full HD.</p>
						</div>
						<!-- End Section Title -->
					</div>
				</div>
				<div class="row pt-25">
					<div class="col-xm-12 col-sm-6 col-md-4">
						<!-- start service item -->
						<div class="service-item mb-60">
							<i class="icofont icofont-vector-path"></i>
							<h6>Des chatons trop mignons</h6>
							<p>Ils ont posé pour vous, le poil soyeux, le regard attentif.</p>
						</div>
						<!-- End service item -->
					</div>
					<div class="col-xm-12 col-sm-6 col-md-4">
						<!-- start service item -->
						<div class="service-item mb-60">
							<i class="icofont icofont-code"></i>
							<h6>Des photos qualitatives</h6>
							<p>Nous avons selectionné pour vous des photos de qualité, faites par des photographes professionnels. </p>
						</div>
						<!-- End service item -->
					</div>
					<div class="col-xm-12 col-sm-6 col-md-4">
						<!-- start service item -->
						<div class="service-item mb-60">
							<i class="icofont icofont-gears"></i>
							<h6>Un simple envoi par email</h6>
							<p>Cliquez, ajoutez la ou les photo(s) de votre choix au panier, commandez, et vous recevrez ces photos par email au format de votre choix. </p>
						</div>
						<!-- End service item -->
					</div>

				</div>
			</div>
		</section>
		<!-- End Service Area -->
        <!-- Start Works Area -->

		<!-- Start About Area -->
		<section class="about-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
					    <!-- Start About Left -->
					    <div class="about-left mb-30">
							<img src="assets/img/about/chat-about.jpg" alt="" />
						</div>
						<!-- End About Left -->
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 nopad-left nopad-right">
						<div class="about-right text-center">
							<!-- Start Section Title -->
							<div class="section-title">
							   <h2>Qui sommes-nous ?</h2>
							   <p>Apprenez à nous connaitre !</p>
							</div>
							<!-- End Section Title -->
							<p>Nous sommes une association d'amis des chats. Nous revendons les photos de nos petits chatons les plus mignons, abandonnés à leur naissance, afin de leur garantir l'accès à une gamelle de qualité. Tous les fonds sont investis dans une recherche active de propriétaires aimants. </p>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About Area -->
		<!-- Start Skill Area -->
		<section class="skill-area gray-bg pt-40">
		    <div class="container">
		    	<div class="row">
		    		<div class="col-xs-12 col-sm-12 col-md-6">
						<!-- Start Section Title -->
						<div class="section-title pt-40">
						   <h2>Nos compétences en tant qu'entreprise de photos de chats</h2>
						   <p>Nos compétences sont maîtrisées à la perfection.</p>
						</div>
						<!-- End Section Title -->
                        <!-- Start Progress Items -->
						<div class="progress-items">
						    <!-- Start Progress Item -->
							<div class="progress-item">
								<div class="progess-heading">
									<div class="progress-name">Esthétique des photos</div>
									<div class="progress-value">55%</div>
								</div>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" style="width: 55%; visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInLeft;" data-wow-duration="2s" data-wow-delay="1s">
                                    </div>
                                </div>
                            </div>
							 <!-- End Progress Item -->
						    <!-- Start Progress Item -->
							<div class="progress-item">
								<div class="progess-heading">
									<div class="progress-name">Mignonnerie des chatons</div>
									<div class="progress-value">87%</div>
								</div>
								<div class="progress">
                                    <div class="progress-bar wow fadeInLeft" style="width: 87%; visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInLeft;" data-wow-duration="2s" data-wow-delay="1s">
                                    </div>
								</div>
                            </div>
							 <!-- End Progress Item -->
						    <!-- Start Progress Item -->
							<div class="progress-item">
								<div class="progess-heading">
									<div class="progress-name">Photographie</div>
									<div class="progress-value">95%</div>
								</div>
								<div class="progress">
                                    <div class="progress-bar wow fadeInLeft" style="width: 95%; visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInLeft;" data-wow-duration="2s" data-wow-delay="1s">
                                    </div>
								</div>
                            </div>
							 <!-- End Progress Item -->
							 <!-- Start Progress Item -->
							<div class="progress-item">
								<div class="progess-heading">
									<div class="progress-name">Chats de marque</div>
									<div class="progress-value">70%</div>
								</div>
								<div class="progress">
                                    <div class="progress-bar wow fadeInLeft" style="width: 70%; visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInLeft;" data-wow-duration="2s" data-wow-delay="1s">
                                    </div>
								</div>
                            </div>
							 <!-- End Progress Item -->
							 <!-- Start Progress Item -->
							<div class="progress-item">
								<div class="progess-heading">
									<div class="progress-name">Communication du chat</div>
									<div class="progress-value">55%</div>
								</div>
								<div class="progress">
                                    <div class="progress-bar wow fadeInLeft" style="width: 55%; visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInLeft;" data-wow-duration="2s" data-wow-delay="1s">
                                    </div>
								</div>
                            </div>
							 <!-- End Progress Item -->
						</div>
						<!-- End Progress Items -->
					</div>
					<div class="hidden-xs hidden-sm col-md-6">
                       <div class="skill-man">
					       <img src="assets/img/skill/skill-man.png" alt="" />
					   </div>
					</div>
		    	</div>
		    </div>
		</section>
        <!-- End Skill Area -->

		<!-- Start Happy Client Area-->
		<section class="clients-area overlay-bg ptb-80">
            <div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<!-- Start Section Title -->
						<div class="section-title white-heading">
						   <h2>Nos clients sont heureux !</h2>
						   <p>Nous avons un succès fou et les commandes n'arrêtent pas</p>
						</div>
						<!-- End Section Title -->
					</div>
				</div>
				<div class="row">
				    <!-- Start client Carousel -->
					<div id="clients-carousel" class="carousel-control-1">
						<div class="col-md-6">
						    <!-- Start Single client -->
							<div class="single-client">
							    <!-- Start client Pic -->
								<div class="client-pic">
									<img src="assets/img/clients/1.png" alt="" />
								</div>
								<!-- End client Pic -->
								<!-- Start client Content -->
								<div class="client-content">
									<div class="client">
										<div class="client-info">
											<h4>Albert Lebrun</h4>
											<p>Garçon, 8 ans</p>
										</div>
										<div class="client-say">
											<p>J'adore les chats ! Vive votre site Cat Shopper !</p>
										</div>
									</div>
								</div>
								<!-- End client Content -->
							</div>
							<!-- End Single client -->
						</div>
						<div class="col-md-6">
						    <!-- Start Single client -->
							<div class="single-client">
							    <!-- Start client Pic -->
								<div class="client-pic">
									<img src="assets/img/clients/2.png" alt="" />
								</div>
								<!-- End client Pic -->
								<!-- Start client Content -->
								<div class="client-content">
									<div class="client">
										<div class="client-info">
											<h4>Albert Lebrun</h4>
											<p>Garçon, 8 ans</p>
										</div>
										<div class="client-say">
											<p>J'adore les chats ! Vive votre site Cat Shopper !</p>
										</div>
									</div>
								</div>
								<!-- End client Content -->
							</div>
							<!-- End Single client -->
						</div>
						<div class="col-md-6">
						    <!-- Start Single client -->
							<div class="single-client">
							    <!-- Start client Pic -->
								<div class="client-pic">
									<img src="assets/img/clients/1.png" alt="" />
								</div>
								<!-- End client Pic -->
								<!-- Start client Content -->
								<div class="client-content">
									<div class="client">
										<div class="client-info">
											<h4>Albert Lebrun</h4>
											<p>Garçon, 8 ans</p>
										</div>
										<div class="client-say">
											<p>J'adore les chats ! Vive votre site Cat Shopper !</p>
										</div>
									</div>
								</div>
								<!-- End client Content -->
							</div>
							<!-- End Single client -->
						</div>
						<div class="col-md-6">
						    <!-- Start Single client -->
							<div class="single-client">
							    <!-- Start client Pic -->
								<div class="client-pic">
									<img src="assets/img/clients/2.png" alt="" />
								</div>
								<!-- End client Pic -->
								<!-- Start client Content -->
								<div class="client-content">
									<div class="client">
										<div class="client-info">
											<h4>Albert Lebrun</h4>
											<p>Garçon, 8 ans</p>
										</div>
										<div class="client-say">
											<p>J'adore les chats ! Vive votre site Cat Shopper !</p>
										</div>
									</div>
								</div>
								<!-- End client Content -->
							</div>
							<!-- End Single client -->
						</div>
					</div>
					<!-- End client Carousel -->
				</div>
			</div>
		</section>
		<!-- End Happy Client Area -->

		<!-- Start Newsletter Area -->
		<section class="newsletter-area overlay-bg ptb-80">
		    <div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<!-- Start Section Title -->
						<div class="section-title white-heading">
						    <h2>S'inscrire à la newsletter</h2>
						    <p>Vous recevrez une newsletter de folie avec <br />toutes nos dernières nouveautés assez incroyables.</p>
						</div>
						<!-- End Section Title -->
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
						<!-- Start Subscribe Form -->
						<form action="#" method="post" class="subscribe-form">
						  <input type="email" name="email" class="subscribe-input" placeholder="Subscribe Here">
						  <button type="submit" class="subscribe-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
						</form>
						<!-- End Subscribe Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Newsletter Area -->


	</div>
		<!-- All JS Here -->
		<!-- jquery latest version -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
		<!-- bootstrap js -->
        <script src="assets/js/bootstrap.min.js"></script>
		<!-- plugins js -->
        <script src="assets/js/plugins.js"></script>
		<!-- main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>
