<!-- Start About Area -->
<section class="about-area ptb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-right">
          <img src="img/about/4.jpg" alt="" style="float:right;margin-left:20px;margin-bottom:20px"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->
<!-- Start Team Area -->
<section class="team-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Start Section Title -->
        <div class="section-title">
           <h2>Our crative team</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
        </div>
        <!-- End Section Title -->
      </div>
    </div>
    <div class="row pt-30">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <!-- Start Team Member -->
        <div class="team-member text-center">
          <a href="#"><img src="img/team/1.png" alt="" /></a>
          <!-- Start Member Hidden -->
          <div class="member-hidden">
            <div class="namerole">
              <p class="member-name">Suman kumar saha</p>
              <p class="member-role">Chairman</p>
            </div>
                            <!-- Start Social Links -->
            <ul class="social-links">
              <li><a href="#" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="googleplus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#" class="behance" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            </ul>
            <!-- End Social Links -->
          </div>
          <!-- End Member Hidden -->
          <div class="namerole member-bottom">
            <p class="member-name">Suman kumar saha</p>
            <p class="member-role">Chairman</p>
          </div>
        </div>
        <!-- Start Team Member -->
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <!-- Start Team Member -->
        <div class="team-member text-center">
          <a href="#"><img src="img/team/2.png" alt="" /></a>
          <!-- Start Member Hidden -->
          <div class="member-hidden">
            <div class="namerole">
                <p class="member-name">Anamika Raj Anu</p>
                <p class="member-role">Team Leader</p>
            </div>
                            <!-- Start Social Links -->
            <ul class="social-links">
              <li><a href="#" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="googleplus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#" class="behance" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            </ul>
            <!-- End Social Links -->
          </div>
          <!-- End Member Hidden -->
          <div class="namerole member-bottom">
            <p class="member-name">Anamika Raj Anu</p>
            <p class="member-role">Team Leader</p>
          </div>
        </div>
        <!-- Start Team Member -->
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <!-- Start Team Member -->
        <div class="team-member text-center">
          <a href="#"><img src="img/team/3.png" alt="" /></a>
          <!-- Start Member Hidden -->
          <div class="member-hidden">
            <div class="namerole">
              <p class="member-name">Rafiq Shawon</p>
              <p class="member-role">Manager</p>
            </div>
                            <!-- Start Social Links -->
            <ul class="social-links">
              <li><a href="#" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="googleplus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#" class="behance" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            </ul>
            <!-- End Social Links -->
          </div>
          <!-- End Member Hidden -->
          <div class="namerole member-bottom">
            <p class="member-name">Rafiq Shawon</p>
            <p class="member-role">Manager</p>
          </div>
        </div>
        <!-- Start Team Member -->
      </div>
    </div>
  </div>
</section>
<!-- End Team Area -->
