
		<!-- Start Site Content -->
		<div class="site-content ptb-80">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <!-- Start Primary Content -->
					    <div id="primary" class="content-area">
                            <div class="row">
								<div class="col-md-12">
                  <p>   </p></br></br></br>

                  <h1>Qui sommes-nous ?</h1>


									<p>Nous sommes 4 entrepreneurs convertis et ambitieux. Voici notre nouveau site internet. Notre but est de parvenir à devenir une licorne tout en rendant heureux les gens qui aiment les chats.
                Ce site internet permet aux gens qui aiment les chats d'acheter plein de photos magnifiques à des prix défiants toute concurrence.

                Nous vendons des photographies de chats. Elles sont superbes. Elles font rêver. Ces chats sont des mannequins de folie.</p>

									<img class="pull-left img-responsive" src="../../assets/img/about/chatons-entrepreneurs.jpg" alt="Device" width="400" height="250" margin="30">



								</div>
                            </div>
					    </div>
						<!-- End Primary Content -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Site Content -->
