<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>

<h2>Panier</h2>

<ul>
  <% @cart.line_items.each do |chat| %>
    <li><%= chat.item.title %> (x <%= chat.quantity %>)</li>
    <% end %>
</ul>

<p><%= link_to 'retour aux produits', root_path %></p>
