		<!-- Start Site Content -->
		<div class="site-content ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <div class="content-area">
							<div class="row">
								<!-- Start Tab Content -->
								<div class="tab-content">
									<!-- Start Grid products -->
									<div id="grid" class="tab-pane active in" role="tabpanel">
										<div class="products-gridview-inner">
											<% @items.each do |single| %>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
														<%= link_to image_tag(single.image_url) + "", single %>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<%= link_to "", single, class: 'btn-quickview modal-view detail-link quickview icofont icofont-eye-alt' %>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><%= link_to single.title, single %></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price"><%= single.price %>€</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<% end %>
										</div>
									</div>
									<!-- End Grid products -->
									</div>
									<!-- End List products -->
								</div>
							<!-- End Tab Content -->
							</div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Site Content -->
