
			</div>
        </header>
		<!-- End Header -->
		<!-- Start Page Banner -->
		<div id="page-header">
		    <!-- Start Banner Picture -->
		    <div class="banner-parallax" data-stellar-ratio="0.3">
			    
			</div>
			<!-- End Banner Picture -->
			<!-- Start Banner Content -->
			<div class="banner-content">
				<div class="dis-table">
					<div class="dis-table-cell text-center">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
								    <!-- Page Title -->
								    <h2 class="page-title uppercase">Grid View</h2>
									<!-- Start Breadcrumb -->
									<ul class="breadcrumbs">
										<li><a href="ecommerce-home.html">Home</a></li>
										<li class="active">Grid View</li>
									</ul>
									<!-- End Breadcrumb -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Banner Content -->
		</div>
        <!-- End Page Banner -->
		<!-- Start Site Content -->
		<div class="site-content ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <div class="content-area">
							<div class="row">
								<div class="col-sm-12 col-md-12">
									<!-- Start Product Toolbar -->
									<div class="prodcut-toolbar">
										<!-- Nav tabs -->
										<ul role="tablist" class="tab-bar">
											<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="grid" title="Grid" href="#grid" aria-expanded="true">Grid</a></li>
											<li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="list" title="List" href="#list" aria-expanded="false">List</a></li>
										</ul>
                                        <!-- Start Sort Form -->
                                        <div class="sort-form">
											<form action="#" class="option-select">
											    <span class="mr-5">Sort:</span>
												<select class="sort-options">
												  <option value="defaul">Default -</option>
												  <option value="average">Average rating</option>
												  <option value="newness">Newness</option>
												  <option value="lowhigh">Price: low to high</option>
												  <option value="highlow">price: high to low</option>
												</select>
											</form>
										</div>
                                        <!-- End Sort Form -->
                                        <p class="pull-right">Showing 1-8 from 124 products</p>
									</div>
									<!-- End Product Toolbar -->
								</div>
							</div>
							<div class="row">
								<!-- Start Tab Content -->
								<div class="tab-content">
									<!-- Start Grid products -->
									<div id="grid" class="tab-pane active in" role="tabpanel">
										<div class="products-gridview-inner">
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/1.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 99.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/2.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Women Jeans</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 79.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/3.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Lilen T-Shirt</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 199.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/4.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Ladies T-Shirts</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 89.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/5.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 99.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/6.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Women Jeans</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 79.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/7.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Lilen T-Shirt</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 199.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/8.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Ladies T-Shirts</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 89.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/9.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 99.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/10.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Women Jeans</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 79.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/11.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Lilen T-Shirt</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 199.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
												<!-- Start Single Product -->
												<div class="single-product">
													<!-- Start Product Thumbnail -->
													<div class="product-thumbnail">
													   <a href="#"> <img src="assets/../../assets/img/products/12.png" alt="" />	</a>
														<!-- Start Product Buttons -->
														<div class="product-buttons">
															<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
															<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
															<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
														</div>
														<!-- End Product Buttons -->
													</div>
													<!-- End Product Thumbnail -->
													<!-- Start Product Details -->
													<div class="produtct-details">
														<span class="product-name"><a href="#">Ladies T-Shirts</a></span>
														<!-- Start Price Stars -->
														<div class="price-stars">
															<span class="price">$ 89.00</span>
															<!-- Start Stars -->
															<div class="star-rating pull-right">
																<ul>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star yes"><i class="icofont icofont-star"></i></li>
																	<li class="star"><i class="icofont icofont-star"></i></li>
																</ul>
															</div>
															<!-- End Stars -->
														</div>
														<!-- End Price Stars -->
													</div>
													<!-- End Product Details -->
												</div>
												<!-- End Single Product -->
											</div>
										</div>
										<!-- Start Product Paginations -->
										<div class="col-xs-12 col-sm-12 col-md-12">
											<ul class="default-pagination">
												<li class="pull-left"><a href="#"><i class="icofont icofont-long-arrow-left"></i></a></li>
												<li class="current"><a href="#">01</a></li>
												<li><a href="#">02</a></li>
												<li><a href="#">03</a></li>
												<li><a href="#">04</a></li>
												<li><a href="#">05</a></li>
												<li class="pull-right"><a href="#"><i class="icofont icofont-long-arrow-right"></i></a></li>
											</ul>
										</div>
										<!-- End Product Paginations -->
									</div>
									<!-- End Grid products -->
									<!-- Start List products -->
									<div id="list" class="tab-pane fade" role="tabpanel">
										<!-- Start Products List View  -->
										<div class="products-listview-inner">
											<div class="col-xs-12 col-sm-12 col-md-12">
											   <!-- Start Single Prodcut -->
											   <div class="single-product">
													<div class="row">
														<div class="col-xs-12 col-sm-4 col-md-4">
															<!-- Start Product Thumbnail -->
															<div class="product-thumbnail">
															    <a href="#"> <img src="assets/../../assets/img/products/7.png" alt="" /></a>
																<!-- Start Product Buttons -->
																<div class="product-buttons">
																	<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
																	<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
																	<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
																</div>
																<!-- End Product Buttons -->
															</div>
															<!-- End Product Thumbnail -->
														</div>
														<div class="col-xs-12 col-sm-8 col-md-8">
															<!-- Start Product Info -->
															<div class="product-info">
																<p><a href="#">Women Jeans</a></p>
																<div class="price-box">
																	<!-- Start Product Price -->
																	<div class="s-price-box">
																		<span class="new-price">$ 123.00</span>
																	</div>
																	<!-- End Product Price -->
																	<!-- Start Product Rating -->
																	<div class="star-rating pull-right">
																		<ul>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star"><i class="icofont icofont-star"></i></li>
																			<li>10 Reviews</li>
																		</ul>
																	</div>
																	<!-- End Product Rating -->
																</div>
																<div class="quick-desc">
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
																</div>
															</div>
															<!-- End Product Info -->
													   </div>
												   </div>
											   </div>
											   <!-- Start Single Prodcut -->
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12">
											   <!-- Start Single Prodcut -->
											   <div class="single-product">
													<div class="row">
														<div class="col-xs-12 col-sm-4 col-md-4">
															<!-- Start Product Thumbnail -->
															<div class="product-thumbnail">
															    <a href="#"> <img src="assets/../../assets/img/products/4.png" alt="" /></a>
																<!-- Start Product Buttons -->
																<div class="product-buttons">
																	<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
																	<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
																	<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
																</div>
																<!-- End Product Buttons -->
															</div>
															<!-- End Product Thumbnail -->
														</div>
														<div class="col-xs-12 col-sm-8 col-md-8">
															<!-- Start Product Info -->
															<div class="product-info">
																<p><a href="#"><strong>Women Jeans</strong></a></p>
																<div class="price-box">
																	<!-- Start Product Price -->
																	<div class="s-price-box">
																		<span class="new-price">$ 123.00</span>
																	</div>
																	<!-- End Product Price -->
																	<!-- Start Product Rating -->
																	<div class="star-rating pull-right">
																		<ul>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star"><i class="icofont icofont-star"></i></li>
																			<li>10 Reviews</li>
																		</ul>
																	</div>
																	<!-- End Product Rating -->
																</div>
																<div class="quick-desc">
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
																</div>
															</div>
															<!-- End Product Info -->
													   </div>
												   </div>
											   </div>
											   <!-- Start Single Prodcut -->
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12">
											   <!-- Start Single Prodcut -->
											   <div class="single-product">
													<div class="row">
														<div class="col-xs-12 col-sm-4 col-md-4">
															<!-- Start Product Thumbnail -->
															<div class="product-thumbnail">
															    <a href="#"> <img src="assets/../../assets/img/products/3.png" alt="" /></a>
																<!-- Start Product Buttons -->
																<div class="product-buttons">
																	<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
																	<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
																	<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
																</div>
																<!-- End Product Buttons -->
															</div>
															<!-- End Product Thumbnail -->
														</div>
														<div class="col-xs-12 col-sm-8 col-md-8">
															<!-- Start Product Info -->
															<div class="product-info">
																<p><a href="#">Women Jeans</a></p>
																<div class="price-box">
																	<!-- Start Product Price -->
																	<div class="s-price-box">
																		<span class="new-price">$ 123.00</span>
																	</div>
																	<!-- End Product Price -->
																	<!-- Start Product Rating -->
																	<div class="star-rating pull-right">
																		<ul>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star yes"><i class="icofont icofont-star"></i></li>
																			<li class="star"><i class="icofont icofont-star"></i></li>
																			<li>10 Reviews</li>
																		</ul>
																	</div>
																	<!-- End Product Rating -->
																</div>
																<div class="quick-desc">
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
																</div>
															</div>
															<!-- End Product Info -->
													   </div>
												   </div>
											   </div>
											   <!-- Start Single Prodcut -->
											</div>
										</div>
										<!-- End Product List View -->
										<!-- Start Products Pagination -->
										<div class="col-xs-12 col-sm-12 col-md-12">
											<ul class="default-pagination">
												<li class="pull-left"><a href="#"><i class="icofont icofont-long-arrow-left"></i></a></li>
												<li class="current"><a href="#">01</a></li>
												<li><a href="#">02</a></li>
												<li><a href="#">03</a></li>
												<li><a href="#">04</a></li>
												<li><a href="#">05</a></li>
												<li class="pull-right"><a href="#"><i class="icofont icofont-long-arrow-right"></i></a></li>
											</ul>
										</div>
										<!-- End Product Paginations -->
									</div>
									<!-- End List products -->
								</div>
							<!-- End Tab Content -->
							</div>
                            <div class="row">
                            	<div class="col-md-12">
								    <!-- Start Discount Banner -->
                            		<div class="discount-banner pt-100">
									    <img src="assets/../../assets/img/products/discount-banner.png" alt="" />
									</div>
									<!-- End Discount Banner -->
                            	</div>
                            </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Site Content -->
