<!-- Start Footer Area -->
<footer class="footer-area pt-80">
    <!-- Start Footer Top Area  -->
    <div class="footer-top-area ptb-25">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <!-- Start Footer widget -->
            <div class="footer-widget">
              <div class="footer-logo">
               <a href="#"><img src="assets/img/logo-cat.png" alt="" /></a>
            </div>
            <p>Ce site permet d'acheter des photographies de chats.</p>
            <!-- Start widget Info -->
            <div class="widget-contact-info">
                <ul>
                  <li class="widget-phone">
                  <div class="widget-right-info">
                      <span><a href="tel:+33662121212">+33 662121212</a></span>
                    <span><a href="tel:++33662121212">+33 662121213</a></span>
                  </div>
                </li>
                  <li class="widget-email">
                  <div class="widget-right-info">
                      <span><a href="mailto:thpcatshopping@gmail.com">help@thpcatshopping.com</a></span>

                  </div>
                </li>
                  <li class="widget-city">
                  <div class="widget-right-info">
                                            <span>Grenoble, FR</span>
                  </div>
                </li>
                </ul>
            </div>
            <!-- End widget Info -->
          </div>
          <!-- End Footer widget -->
        </div>

  </div>
  <!-- End Footer Top Area  -->
  <!-- Start Footer Bottom -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <!-- Start Copyright Text -->
            <div class="copyright-text">
              <p>Copyright Dream Team Grenobloise &copy; Tous droits réservés</p>
          </div>
          <!-- End Copyright Text -->
        </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <!-- Start Footer Social Links -->
                        <div class="footer-social-links">
              <!-- Start Soical Links -->
                          <ul class="social-links text-right social-dark text-right">
              <li><a href="#" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="googleplus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#" class="behance" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                          </ul>
            <!-- End Soical Links -->
                        </div>
          <!-- End Footer Social Links -->
        </div>
        </div>
      </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!-- End Footer Area -->
